@import "../../modules/_base.scss";
/*Footer Bottom Section*/
.b-footer__sole{
    padding:8px 0;
    background:$primary;
    color:#fff;
    text-align:center;

    @include media($tablet){
        text-align:left;
    }
}
.b-footer__copyright{
    display:inline-block;
    @include font-size(12px);
    height:22px;
    line-height:22px;
    white-space:nowrap;
}

.b-footer__map-link{
    display:inline-block;
    height:22px;
    line-height:22px;
    white-space:nowrap;
    color:#fff !important;
    font-weight:600;

    @include media($tablet){
        float:right;
    }
}
.b-footer__banner-link{
    text-decoration:none !important;
    margin-right:5px;
}