@import "../../modules/_base.scss";
/*Footer Social Links*/
.f-social{
    list-style-type:none;
    padding:0;
    margin-top:-10px;
    font-size:0;

    [class^="icon-"]:before, [class*=" icon-"]:before{
        margin:0;
    }
}

.f-social__item{
    @extend .h-social__item;
}
.f-social__link{
    @extend .h-social__link;
}