@import "../../modules/_base.scss";
/*Sidebar filters*/
.filter-list{
    list-style-type:none;
    margin-bottom:30px;
    padding:0;
}
.filter-list__item{
    margin-bottom:15px;
}

/*Sidebar Color Filter*/
.color-list{
    @extend .filter-list;
    margin-bottom:0;
    font-size:0;
}

.color-list__item{
    display:inline-block;
    width:32px;
    margin:0 15px 15px 0;
    @include font-size(14px);
}

.color-list__thumb{
    height:32px;
    margin:0;
    border-radius:2px;
    border:1px solid $border-color;
    background-color:$primary;
    background-position:center center;
    position:relative;
    cursor:pointer;

    &:after{
        content:'';
        width:12px;
        height:12px;
        background-image:url(../img/sprite.png);
        background-repeat:no-repeat;
        background-position:0 -430px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-6px 0 0 -6px;
        display:none;
    }

    &.active{
        &:after{
            display:block;
        }
    }
}

.color-list__thumb--alt{
    &:after{
        background-position:-30px -430px;
    }
}

.color-list__input{
    display:none;
}


/*Filter Clean Button*/
.filter-clean{
    margin:-40px 0 60px;

    @include media($desktop){
        text-align:right;
    }
}
.filter-clean__btn{
    @extend .g-clearbtn;
    height:20px;
    line-height:20px;
    white-space:nowrap;
    color:$text-color;
    border-bottom:1px dashed $text-color;

    &:hover,
    &:active{
        color:$primary-text-color;
        border-bottom-color:$primary-text-color;
    }
}


