@import "../../modules/_base.scss";
/*Sidebar Panel Block*/
.side-panel{
    @extend .product-list__inner;
    max-width:370px;
    padding:10px 15px 20px;
    margin:0 auto 60px;

    @include media($small){
        max-width:none;
        margin:0 0 60px;
    }
}

.side-title{
    @extend .g-title--line;
    margin-bottom:$project-line-height;
    text-align:center;

    &:before{
        top:10px;
    }
    &:after{
        top:12px;
    }
}

.side-title__addon,
.side-title__inner{
    @include font-size(18px);
    color:$primary-text-color;
    text-transform:uppercase;
    font-weight:600;
}

.side-title__inner{
    display:inline-block;
    background:#fff;
    padding:0 10px;
    line-height:1.2;
}
.side-title__addon{
    display:block;
    line-height:1.4;
}

/*Sidebar Form*/
.side-panel__form{
    @include font-size(13px);
    color:#847c80;

    .g-btn{
        margin-bottom:0;
    }
}