@import "../../modules/_base.scss";
/*Product List*/
.product-list{
    @extend .g-clearfix;
    list-style-type:none;
    padding:0;
    margin:0 -15px 20px;
}

.product-list__item{
    @extend .g-column;
    margin-bottom:60px;

    @include media($small){
        width:50%;
        &:nth-child(2n+1){
            clear:left;
        }
    }

    @include media($desktop){
        width:(100%)/3;
        &:nth-child(2n+1){
            clear:none;
        }
        &:nth-child(3n+1){
            clear:left;
        }
    }

    @include media($large){
        width:25%;

        &:nth-child(3n+1){
            clear:none;
        }

        &:nth-child(4n+1){
            clear:left;
        }
    }
}

.product-list__inner{
    max-width:270px;
    margin:0 auto;
    padding:10px 25px 20px;
    border:1px solid #eee;
    border-radius:$border-radius;
    background:#fff;
    box-shadow:0 5px 1px rgba($primary, .6), inset 0 0 1px rgba(#000, .2);
    position:relative;

    &:before{
        content:'';
        display:block;
        width:214px;
        height:24px;
        position:absolute;
        left:50%;
        top:-16px;
        margin-left:-112px;
        border-bottom:4px solid #fff;
        background:url(../img/sprite.png) 0 -340px no-repeat;
    }
}

.product-list__thumb{
    margin:0;
    text-align:center;
}

.product-list__link{
    display:block;
    height:220px;
    position:relative;

    &:hover,
    &:active{
        .product-list__img{
            opacity:.8;
        }
    }
}
.product-list__img{
    @extend .g-img-centered;
    @include backface-visibility(hidden);
    @include transition(opacity .3s ease);
}

.product-list__caption{
    background:#fff;
    height:60px;
    position:relative;
    line-height:1.4;
    overflow:hidden;

    &:after{
        content:'';
        display:block;
        width:100%;
        height:10px;
        @include linear-gradient(to bottom, rgba(#fff, .1), #fff);
        position:absolute;
        left:0;
        bottom:0;
    }
}
.product-list__title{
    display:block;
    margin-bottom:4px;
    @include font-size(16px);
    font-weight:600;
    line-height:1.1;
    color:$primary-text-color !important;
}
.product-list__description{
    color:#847c80;
}

.product-list__rating{
    height:16px;
    margin-bottom:10px;
    text-align:center;
    position:relative;
    line-height:1;

    &:before,
    &:after{
        content:'';
        width:100%;
        display:block;
        height:1px;
        background:#eee;
        position:absolute;
        left:0;
    }

    &:before{
        top:7px;
    }
    &:after{
        bottom:5px;
    }

    .b-rating{
        position:relative;
        z-index:1;
    }
}

.product-list__action{
    @extend .g-clearfix;
    margin-bottom:15px;
    line-height:1;
}

.product-list__price{
    float:left;
    @include font-size(24px);
    font-weight:700;
    color:#454545;
    white-space:nowrap;
}
.product-list__curr{
    @include font-size(14px);
    font-weight:400;
}

.product-list__count{
    float:right;
    padding:0 10px;
    height:28px;
    width:60px;
    border:1px solid $border-color;
    border-radius:2px;
    color:#454545;

    &:hover,
    &:active,
    &:focus{
        border-color:$primary-alt;
        outline:0;
    }
}

.product-list__icon{
    display:inline-block;
    vertical-align:middle;
    margin-right:.2em;
    width:18px;
    height:21px;
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    background-position:-150px -240px;
}

.product-list__btn{
    @extend .g-btn;
    padding:0 5px;
    width:100%;
    margin:0;

    &.disabled,
    &:disabled{
        .product-list__icon{
            background-position:-150px -260px;
        }
    }
}

/*Product List Stepper*/
.product-list__action{
    .bootstrap-touchspin{
        float:right;
        width:60px;

        .input-group-btn-vertical>.btn{
            padding:6.5px 10px;
            @include px2rem(padding, 6.5px 10px);
            border-color:$border-color;
        }

        .input-group-btn-vertical .bootstrap-touchspin-up{
            border-top-right-radius:2px;
            border-bottom-color:#fff;
        }
        .input-group-btn-vertical .bootstrap-touchspin-down{
            border-bottom-right-radius:2px;
            border-top-color:#fff;
        }
    }
}


