@import "../../modules/_base.scss";
/*Product Rating*/
.b-rating{
    display:inline-block;
    width:108px;
    height:16px;
    vertical-align:middle;
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
}
.b-rating--5{
    background-position:0 -240px;
}

.b-rating--4{
    background-position:0 -260px;
}
.b-rating--3{
    background-position:0 -280px;
}

.b-rating--2{
    background-position:0 -300px;
}

.b-rating--1{
    background-position:0 -320px;
}

.b-rating__inner{
    display:none;
}