@import "../../modules/_base.scss";
/*Catalog Sorter*/
.b-sorter{
    @extend .g-clearfix;
    margin:0 -15px 25px;
}
.b-sorter__title,
.b-sorter__inner{
    @extend .g-column;
}

@include media($large){
    .b-sorter__title{
        width:75%;
    }
    .b-sorter__inner{
        width:25%;
    }
}
