@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,400italic&subset=latin,cyrillic);

@font-face {
    font-family: 'Monotype-Corsiva-Regular';
    src: url('../fonts/Monotype-Corsiva-Regular.eot');
    src: url('../fonts/Monotype-Corsiva-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Monotype-Corsiva-Regular.woff') format('woff'),
         url('../fonts/Monotype-Corsiva-Regular.ttf') format('truetype'),
         url('../fonts/Monotype-Corsiva-Regular.svg#Monotype-Corsiva-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
